.layout {
  display: flex;
  min-height: 100vh;
}

.layout-main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  margin-top: 64px;
  padding: 32px;
  background-color: #f5f6fa;
  min-height: calc(100vh - 64px);
}
