.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.layout-main {
  flex: 1;
  margin-left: 240px;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  padding: 32px 40px;
  background-color: var(--bg-main);
  min-height: 100vh;
}
